<header class="py-4 bg-info">
<nav class="container navbar-expand-lg navbar navbar-dark">
    <a class="navbar-brand" href="/">
        GUIAPRESS
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a  class="nav-link" href="/admin/categories">CATEGORIAS</a>
        </li>

        <li class="nav-item active">
            <a  class="nav-link" href="/admin/articles">ARTIGOS</a>
        </li>
         
    </ul>

     <ul class="navbar-nav ml-auto">
        
         <li class="nav-item active">
            <a  class="nav-link" href="/logout">LOGOUT</a>
        </li>
    </ul>

</nav>
</header>